<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<form name="f" th:action="@{/board/insert}" th:object="${vo}" method="get">
			<input type="hidden" name="page" th:value="${param.page}">
			<table border="1">
				<caption>:::새 글 쓰기:::</caption>
				<tr>
					<th>제목</th>
					<td><input th:field="*{subject}"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td><input th:field="*{name}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea th:field="*{content}" rows="10" cols="50" style="resize:none;"></textarea></td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td><input type="password" th:field="*{pwd}"></td>
				</tr>
				<tr>
					<td colspan="2">
						<img src="/img/btn_reg.gif" id="send_check" style="cursor:pointer;">
						<a th:href="@{/board/board_list(page=${param.page})}">
							<img src="/img/btn_back.gif" style="cursor:pointer;">
						</a>
					</td>
				</tr>
			</table>
		</form>
	</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	let $sendBtn = $("img#send_check")
	
	$sendBtn.on("click",function(){
		$("form[name='f']").submit();
	})
	
</script>	
	
	
	
	
</html>







